.container-about {
  .hero-image {
    position: relative;
    h1 {
      font-size: 148px;
      text-transform: uppercase;
      text-align: center;
      color: #434242;
    }

    .cell-font {
      font-weight: 100;
      font-family: Roboto, sans-serif;
    }
  }

  .text-block {
    background: #fff;
    position: absolute;
    width: 90%;
    bottom: 50%;
    right: 5%;
    p {
      text-transform: uppercase;
      text-align: center;
      font-size: 2.2rem;
    }
  } // end of text block selector

  .choose {
    text-transform: uppercase;
    color: #434242;
    word-spacing: 7px;
    margin: 4% 0%;
  }

  .educell-spacing {
    word-spacing: 4px;
  }
} // end of container-about
